.wrapper {
  display: flex;
  gap: 10px;
}

.button {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--light-color);
  border: 1px solid var(--border-color);
  background-color: var(--button-bgc);
  cursor: pointer;
}

.button:hover,
button:focus {
  scale: 1.05;
  color: var(--accent-color);
}
